.cache/
.turbo/
.DS_Store
__pycache__/

.env*
!.env.example

dist/
node_modules/
*.egg-info/
.ruff_cache
.coverage
.pytest_cache/
.venv/

evals/estimate_deviation/output/
evals/output/
evals/estimate_deviation/rilla/output/
scripts/output/**/*