@import 'tailwindcss';
@import '@maive/tailwind-config';
@import '@maive/brand/fonts/monasans.css';
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

:root {
  --sidebar: var(--color-neutral-50); /* Frosted Silk */
  --sidebar-foreground: var(--color-primary-900);
  --sidebar-primary: var(--color-primary-900);
  --sidebar-primary-foreground: var(--color-primary-50);
  --sidebar-accent: var(--color-primary-100);
  --sidebar-accent-foreground: var(--color-primary-900);
  --sidebar-border: var(--color-neutral-100);
  --sidebar-ring: var(--color-primary-900);
}

.dark {
  --sidebar: hsl(240 5.9% 10%);
  --sidebar-foreground: hsl(240 4.8% 95.9%);
  --sidebar-primary: hsl(224.3 76.3% 48%);
  --sidebar-primary-foreground: hsl(0 0% 100%);
  --sidebar-accent: hsl(240 3.7% 15.9%);
  --sidebar-accent-foreground: hsl(240 4.8% 95.9%);
  --sidebar-border: hsl(240 3.7% 15.9%);
  --sidebar-ring: hsl(217.2 91.2% 59.8%);
}

@theme inline {
  --color-sidebar: var(--sidebar);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
}
