[project]
name = "scripts"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "beautifulsoup4>=4.14.2",
    "playwright>=1.55.0",
    "playwright-stealth>=2.0.0",
]

[dependency-groups]
dev = [
    "ruff>=0.8.6",
]
